.form-control {
  font-size: $font-size-normal;
  background-color: $cyan-light-gray-100;
  border-color: transparent;
  color: $cyan-600;
  font-weight: $font-weight-bold;
  padding-left: 38.7px;
  text-align: left;

  &:focus {
    background-color: $cyan-light-gray-100;
    border-color: transparent;
    color: $cyan-600;
    font-weight: $font-weight-bold;
  }

  &::placeholder {
    font-weight: $font-weight-normal;
  }

  @include placeholder {
    font-weight: $font-weight-normal;
  }
}

.form-label {
  font-size: 1rem;
  font-weight: $font-weight-bold;
  color: $cyan-dark-gray-200;
}

.calculate-tip__input,
.number-of-people__input {
  height: 50px;

  .calculate-tip__input-icon,
  .number-of-people__input-icon {
    position: absolute;
    height: inherit;
    padding: 0.375rem 0.75rem;
    color: $cyan-600;
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
  }
}

.select-tip__input-icon {
  position: absolute;
  height: inherit;
  padding: 0.375rem 0.75rem;
  color: $cyan-600;
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
}

.select-tip__checkboxes {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;

  .select-tip__input {
    flex: 0 0 calc(50% - 10px);

    .form-control {
      &::placeholder {
        font-weight: $font-weight-bold;
      }

      @include placeholder {
        font-weight: $font-weight-bold;
      }
    }
  }

  .btn--check {
    background-color: $cyan-600;
    border-color: $cyan-600;
    width: 100%;
    font-size: $font-size-normal;
    font-weight: $font-weight-bold;
  }

  .btn-check:checked + .btn--check,
  .btn-check:focus + .btn--check,
  .btn--check:focus {
    background-color: $primary;
    border-color: $primary;
    color: $cyan-600;
  }
}

.input_labels {
  display: flex;
  justify-content: space-between;

  .form-label {
    flex: 0 0 50%;
  }
}

.error-message {
  opacity: 0;
  font-size: 1rem;
  transition: opacity 0.3;
}

.error {
  .error-message {
    color: $error-color;
    opacity: 1;
  }

  .form-control {
    border-color: $error-color;
  }

  .btn--check {
    border-color: $error-color;
  }
}

@include tablet-portrait-up {
  #tipCalculatorForm {
    display: flex;
    flex-flow: row nowrap;
  }

  .container__left,
  .container__right {
    flex: 0 0 50%;
  }

  .container__left {
    padding: 50px 50px 0 50px;
  }

  .select-tip__checkboxes {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;

    .select-tip__input {
      flex: 0 0 calc(33.33% - 14px);
    }
  }
}
