@font-face {
  font-family: 'Space Mono';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/SpaceMono-Regular.ttf');
}

@font-face {
  font-family: 'Space Mono';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/SpaceMono-Bold.ttf');
}

@font-face {
  font-family: 'Space Mono';
  font-weight: 400;
  font-style: italic;
  src: url('./assets/fonts/SpaceMono-Italic.ttf');
}

@font-face {
  font-family: 'Space Mono';
  font-weight: 700;
  font-style: italic;
  src: url('./assets/fonts/SpaceMono-BoldItalic.ttf');
}
