/**
 * Variables
*/

/* Typography */
$body-font-family: 'Space Mono', monospace;
$font-size-normal: 24px;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


/* Breakpoints */
/* Paths */
/* Grid setup */

/* Colour palette */
$primary: hsl(172, 67%, 45%);

$cyan-600: hsl(183, 100%, 15%);
$cyan-500: hsl(172, 67%, 45%);
$cyan-dark-gray-200: hsl(186, 14%, 43%);
$cyan-dark-gray-100: hsl(184, 14%, 56%);
$cyan-light-gray-200: hsl(185, 41%, 84%);
$cyan-light-gray-100: hsl(189, 41%, 97%);

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$light-gray: #f1f1f1;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$error-color: #ec1f4e;

/* Components */
