.tip-result {
    padding: 30px 25px;
    background-color: $cyan-600;
    color: $white;
    border-radius: 25px;

    &__heading {
        flex: 0 0 calc(50% - 10px);
        font-size: 16px;
        font-weight: $font-weight-bold;
    }

    &__subheading {
        font-size: 12px;
        color: $cyan-dark-gray-100;
    }

    &__result-text {
        flex: 0 0 calc(50% - 10px);
        text-align: right;
        color: $primary;

        span {
            font-size: $font-size-normal;
            font-weight: $font-weight-bold;
        }
    }
}

.tip-amount,
.bill-total {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 20px;
}

.btn--reset {
    width: 100%;
    background-color: $primary;
    border-color: $primary;
    color: $cyan-600;
    font-size: $font-size-normal;
    font-weight: $font-weight-bold;
}

.btn--reset:focus,
.btn--reset:active,
.btn--reset:hover {
    background-color: $cyan-light-gray-200;
    border-color: $cyan-light-gray-200;
    color: $cyan-600;
}

@include media-breakpoint-up(lg) {
    .container__right {
        padding: 50px 50px 50px 0;
    }

    .tip-result {
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        padding: 50px;

        .tip-amount,
        .bill-total,
        .reset-values {
            flex: 0 0 100%;
        }

        .tip-amount,
        .bill-total {
            margin-bottom: 25px !important;
        }
    }

    .tip-result__heading {
        font-size: $font-size-normal;
    }

    .tip-result__heading {
        font-size: 20px;
    }

    .tip-result__result-text {
        font-size: 42px;

        .dollar-sign {
            font-size: inherit;
        }

        .tip-result__calculated {
            font-size: inherit;
        }
    }

    .reset-values {
        align-self: flex-end;
    }
}
